rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {

      // allow create transactions if there's a token
      allow create: if request.auth != null;

      // allow read and delete if uids match
      allow read, delete: if request.auth.uid == resource.data.uid;

    }
  }
}
